@font-face {
  font-family: 'NotoSansKR';
  font-weight: normal;
  src: url('../../public/font/NotoSansKR-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'NotoSansKR';
  font-weight: bold;
  src: url('../../public/font/NotoSansKR-Bold.ttf') format('opentype');
}
